:host {
    background-color: transparent;
    border: 1px solid #413E46;
    border-radius: 4px;
    color: gainsboro;
    font-weight: 200;
    transition: all 0.4s ease;
}

:host::placeholder {
    color: gray;
}

:host:focus {
    border: 1px solid #EABEFA;
    box-shadow: none;
    outline: none;
}